body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.video-slider {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}